.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

.enable-notifications {
  display: none;
}

.mdl-layout__header {

  background-color: rgb(185, 18, 171);
}

.mdl-color--accent {
  background-color: rgb(29, 64, 84)!important;
}
.mdl-button--fab.mdl-button--colored {
  background: rgb(175, 108, 108);
  color: rgb(255,255,255);
}