
.mdl-layout__header {

  background-color: rgb(185, 18, 171);
}
.mdl-button {
  margin: 10px;
}

.mdl-color--accent {
  background-color: rgb(29, 64, 84)!important;
}

.mdl-button--fab.mdl-button--colored {
  background: rgb(175, 108, 108);
  color: rgb(255,255,255);
}